@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
  color: rgba(0, 0, 0, 0.87);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*                LOGIN*/
.login-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.login {
  position: relative;
  width: 30%;
  min-width: 300px;
  height: 40%;
  min-height: 400px;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

@media screen and (max-width: 1300px) {
  .login {
    width: 80%;
  }
}

.login-logo {
  width: 300px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-height: 950px) {
  .login-logo {
    width: 200px;
    top: -65%;
  }
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}
.formLogin .inputs {
  width: 80%;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.87);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #000000, #ffffff);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.formLogin button {

}




/*                  MAIN*/
.wrapper {
  display: flex;
  flex-direction: row;
}

.main-window {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 90%;
  /*min-height: 600px;*/
  margin-bottom: 80px;
  background-color: white;
  border-radius: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block h1 {
  text-align: center;
}
.block:first-of-type {
  margin-top: 60px;
}
.block .search {
  display: flex;
  align-items: center;
  width: 90%;
}
.block .search input {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px 2px 0 0;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}
.block .search .plus {
  width: 30px;
  height: 30px;
}
.block .search .plus.pulse {
  fill: #1486f0;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.block .search .plus:hover {
  cursor: pointer;
  fill: #1486f0;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}
.block .search input:focus {
  border-bottom: 2px solid #1486f0;
  outline: none;
}
.block .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  gap: 50px 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 369px;
  flex: 1;
  min-height: 330px;
  background-color: white;
  border-radius: 1.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.block .cards .card .info {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px 15px;
}
.block .cards .card .info .data {
  display: flex;
  width: 100%;
}
.block .cards .card .info .data .key {
  font-weight: bold;
  flex: 1;
}
.block .cards .card .info .data .value {
  flex: 1;
}

.block .cards .card.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}
.block .cards .card.delete {
  animation: delete 1s forwards;
}
@keyframes delete {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
    position: absolute;
    visibility: hidden;
  }
}

.block .cards.list {
  display: flex;
  flex-direction: column;
}
.block .cards.list .card {
  display: flex;
  flex-direction: row;
  /*gap: 10px;*/
  justify-content: space-between;
  min-height: min-content;
}
@media screen and (max-width: 830px) {
  .block .cards.list .card.editable {
    flex-direction: column;
    gap: 20px;
  }
  .block .cards.list .card.editable .down {
    margin-bottom: 20px;
  }
}
.block .cards.list .card .name {
  margin-left: 40px;
}
.block .cards.list .card .down {
  margin-bottom: 0;
  margin-right: 5%;
}
.block .cards.list .card .blockquote {
  flex: 1;
}

.block .down {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}
.block .down svg:hover {
  cursor: pointer;
}
.block .down svg:hover.edit {
  fill: #1486f0;
}
.block .down svg:hover.delete {
  fill: #eb3b3b;
}
.block .down .load-more button {
  background-color: black;
  color: white;
}
.block .down .load-more button:hover {
  background-color: #f0f2f5;
  color: black;
}

/*                  NAVIGATION*/
.navigation {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  border-right: 1px solid white;
  align-items: center;
  font-size: 25px;
  background-color: #f0f5f0;
  color: black;
}
.navigation.fadeOut {
  animation: fadeOut 0.5s forwards;
}
.navigation.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1}
  100% {opacity: 0; position:absolute; visibility: hidden}
}
@keyframes fadeIn {
  0% { opacity: 0; position: relative; visibility: visible}
  100% {opacity: 1}
}


@media screen and (max-width: 1100px) {
  .navigation {
    width: 10%;
  }
  .navigation .link {
    justify-content: center;
  }
  .navigation .link div {
    display: none;
  }
  .navigation .username div {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .mobile-nav {
    display: block !important;
  }
}

.navigation .username {
  margin-bottom: 70px;
  margin-top: 20px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menu .link {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #f0f5f0;
  border-top: 1px solid #f0f5f0;
}
.menu .link.active {
  border-bottom: 1px solid #f0f5f0;
  border-top: 1px solid #f0f5f0;
  background-color: #233423;
  color: #f0f5f0;
  fill: #f0f5f0;
}

.menu .link:hover {
  cursor: pointer;
  background-color: #342c23;
  fill: #f0f5f0;
  color: #f0f5f0;
}

.menu .link.active:hover {
  border-bottom: 1px solid #f0f5f0;
  border-top: 1px solid #f0f5f0;
  background-color: #233423;
  color: #f0f5f0;
  fill: #f0f5f0;
}

.menu .down {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


button {
  font-size: 1.2rem;
  padding: 8px 25px;
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
}
button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.87);
  color: #f0f2f5;
}


/*mobile nav*/
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 99;
  width: 40vw;
  min-width: 150px;
  max-width: 300px;
}
.mobile-nav.minimized {
  display: block;
}

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.mobile-nav input[type="checkbox"]:checked ~ .menu-mobile {
  transform: translateX(0);
}
.mobile-nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.mobile-nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.mobile-nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.hamburger-lines {
  display: flex;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-mobile {
  background-color: #f0f5f0;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: calc(100vh - 120px);
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.mobile-nav li {
  list-style: none;
}

.mobile-nav a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.mobile-nav a:hover{
  font-weight: bolder;
}

/*                  LOADER*/
.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid black; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*                  OTHER STUFF*/
.flex {
  display: flex;
}

.jus-con-cen {
  justify-content: center;
}

.al-it-cen {
  align-items: center;
}

.full-screen {
  /*height: 100vh;*/
  min-width: 300px;
  min-height: 300px;
}

button[disabled] {
  /*background-color: #4776e6;*/
  user-select: none;
  pointer-events: none;
  cursor: not-allowed !important;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
button.close {
  background-color: #eb3b3b;
  color: white;
}
button.close:hover {
  background-color: #ff0000;
  color: white;
}
button.save {
  background-color: #1486f0;
  color: white;
}
button.save:hover {
  background-color: #0055ff;
  color: white;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px 2px 0 0;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}
input.red, textarea.red {
  border-bottom-color: red;
}
input:focus {
  border-bottom: 2px solid #1486f0;
  outline: none;
}
textarea {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  border-radius: 2px 2px 0 0;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  max-height: 125px;
  max-width: 300px;
}
textarea:focus {
  border-bottom: 2px solid #1486f0;
  outline: none;
}

/* toggle-pill-color */
.toggle-pill-color input[type="checkbox"] {
  display: none;
}
.toggle-pill-color input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 3em;
  height: 1.6em;
  border-radius: 1em;
  background: #e84d4d;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.toggle-pill-color input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-pill-color input[type="checkbox"]:checked + label {
  background: #47cf73;
}
.toggle-pill-color input[type="checkbox"]:checked + label:before {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  left: 1.6em;
}
.toggle-pill-color input[disabled] + label {
  cursor: not-allowed;
}
/* toggle-pill-color end */

/*QUOTES*/
.blockquote {
  padding: 60px 80px 40px;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 35px;
  font-weight: 700px;
  text-align: center;
}

/*blockquote p::before {
    content: "\f095";
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;

  content: '❝';
  font-size: 200px;
  color: rgba(0,0,0,0.1);

}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid #1486f0;
  height: 3px;
  width: 200px;
}
